@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/**
 * @license
 *
 * Font Family: Satoshi
 * Designed by: Deni Anggara
 * URL: https://www.fontshare.com/fonts/satoshi
 * © 2024 Indian Type Foundry
 *
 * Font Styles:
 * Satoshi Variable(Variable font)
 * Satoshi Variable Italic(Variable font)
 * Satoshi Light
 * Satoshi Light Italic
 * Satoshi Regular
 * Satoshi Italic
 * Satoshi Medium
 * Satoshi Medium Italic
 * Satoshi Bold
 * Satoshi Bold Italic
 * Satoshi Black
 * Satoshi Black Italic
 *
*/

/**
* This is a variable font
* You can controll variable axes as shown below:
* font-variation-settings: 'wght' 900.0;
*
* available axes:

* 'wght' (range from 300.0 to 900.0)

*/

@font-face {
  font-family: "Satoshi";
  src: url("../public/fonts/Satoshi-Variable.woff2") format("woff2"),
    url("../public/fonts/Satoshi-Variable.woff") format("woff"),
    url("../public/fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

/**
* This is a variable font
* You can controll variable axes as shown below:
* font-variation-settings: 'wght' 900.0;
*
* available axes:

* 'wght' (range from 300.0 to 900.0)

*/

@font-face {
  font-family: "Satoshi";
  src: url("../public/fonts/Satoshi-VariableItalic.woff2") format("woff2"),
    url("../public/fonts/Satoshi-VariableItalic.woff") format("woff"),
    url("../public/fonts/Satoshi-VariableItalic.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi";
  src: url("../public/fonts/Satoshi-Light.woff2") format("woff2"),
    url("../public/fonts/Satoshi-Light.woff") format("woff"),
    url("../public/fonts/Satoshi-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../public/fonts/Satoshi-LightItalic.woff2") format("woff2"),
    url("../public/fonts/Satoshi-LightItalic.woff") format("woff"),
    url("../public/fonts/Satoshi-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi";
  src: url("../public/fonts/Satoshi-Regular.woff2") format("woff2"),
    url("../public/fonts/Satoshi-Regular.woff") format("woff"),
    url("../public/fonts/Satoshi-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../public/fonts/Satoshi-Italic.woff2") format("woff2"),
    url("../public/fonts/Satoshi-Italic.woff") format("woff"),
    url("../public/fonts/Satoshi-Italic.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi";
  src: url("../public/fonts/Satoshi-Medium.woff2") format("woff2"),
    url("../public/fonts/Satoshi-Medium.woff") format("woff"),
    url("../public/fonts/Satoshi-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../public/fonts/Satoshi-MediumItalic.woff2") format("woff2"),
    url("../public/fonts/Satoshi-MediumItalic.woff") format("woff"),
    url("../public/fonts/Satoshi-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi";
  src: url("../public/fonts/Satoshi-Bold.woff2") format("woff2"),
    url("../public/fonts/Satoshi-Bold.woff") format("woff"),
    url("../public/fonts/Satoshi-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../public/fonts/Satoshi-BoldItalic.woff2") format("woff2"),
    url("../public/fonts/Satoshi-BoldItalic.woff") format("woff"),
    url("../public/fonts/Satoshi-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi";
  src: url("../public/fonts/Satoshi-Black.woff2") format("woff2"),
    url("../public/fonts/Satoshi-Black.woff") format("woff"),
    url("../public/fonts/Satoshi-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../public/fonts/Satoshi-BlackItalic.woff2") format("woff2"),
    url("../public/fonts/Satoshi-BlackItalic.woff") format("woff"),
    url("../public/fonts/Satoshi-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: italic;
}
/**
 * @license
 *
 * Font Family: Gambetta
 * Designed by: Paul Troppmar
 * URL: https://www.fontshare.com/fonts/gambetta
 * © 2024 Indian Type Foundry
 *
 * Font Styles:
 * Gambetta Variable(Variable font)
 * Gambetta Variable Italic(Variable font)
 * Gambetta Light
 * Gambetta Light Italic
 * Gambetta Regular
 * Gambetta Italic
 * Gambetta Medium
 * Gambetta Medium Italic
 * Gambetta Semibold
 * Gambetta Semibold Italic
 * Gambetta Bold
 * Gambetta Bold Italic
 *
*/

/**
* This is a variable font
* You can controll variable axes as shown below:
* font-variation-settings: 'wght' 300.0 'wght' 700.0;
*
* available axes:

* 'wght' (range from 300.0 to 700.0)

* 'wght' (range from 300.0 to 700.0)

*/

@font-face {
  font-family: "Gambetta";
  src: url("../public/fonts/Gambetta-Variable.woff2") format("woff2"),
    url("../public/fonts/Gambetta-Variable.woff") format("woff"),
    url("../public/fonts/Gambetta-Variable.ttf") format("truetype");
  font-weight: 300 700;
  font-display: swap;
  font-style: normal;
}

/**
* This is a variable font
* You can controll variable axes as shown below:
* font-variation-settings: 'wght' 300.0 'wght' 700.0;
*
* available axes:

* 'wght' (range from 300.0 to 700.0)

* 'wght' (range from 300.0 to 700.0)

*/

@font-face {
  font-family: "Gambetta";
  src: url("../public/fonts/Gambetta-VariableItalic.woff2") format("woff2"),
    url("../public/fonts/Gambetta-VariableItalic.woff") format("woff"),
    url("../public/fonts/Gambetta-VariableItalic.ttf") format("truetype");
  font-weight: 300 700;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Gambetta";
  src: url("../public/fonts/Gambetta-Light.woff2") format("woff2"),
    url("../public/fonts/Gambetta-Light.woff") format("woff"),
    url("../public/fonts/Gambetta-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Gambetta";
  src: url("../public/fonts/Gambetta-LightItalic.woff2") format("woff2"),
    url("../public/fonts/Gambetta-LightItalic.woff") format("woff"),
    url("../public/fonts/Gambetta-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Gambetta";
  src: url("../public/fonts/Gambetta-Regular.woff2") format("woff2"),
    url("../public/fonts/Gambetta-Regular.woff") format("woff"),
    url("../public/fonts/Gambetta-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Gambetta";
  src: url("../public/fonts/Gambetta-Italic.woff2") format("woff2"),
    url("../public/fonts/Gambetta-Italic.woff") format("woff"),
    url("../public/fonts/Gambetta-Italic.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Gambetta";
  src: url("../public/fonts/Gambetta-Medium.woff2") format("woff2"),
    url("../public/fonts/Gambetta-Medium.woff") format("woff"),
    url("../public/fonts/Gambetta-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Gambetta";
  src: url("../public/fonts/Gambetta-MediumItalic.woff2") format("woff2"),
    url("../public/fonts/Gambetta-MediumItalic.woff") format("woff"),
    url("../public/fonts/Gambetta-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Gambetta";
  src: url("../public/fonts/Gambetta-Semibold.woff2") format("woff2"),
    url("../public/fonts/Gambetta-Semibold.woff") format("woff"),
    url("../public/fonts/Gambetta-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Gambetta";
  src: url("../public/fonts/Gambetta-SemiboldItalic.woff2") format("woff2"),
    url("../public/fonts/Gambetta-SemiboldItalic.woff") format("woff"),
    url("../public/fonts/Gambetta-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Gambetta";
  src: url("../public/fonts/Gambetta-Bold.woff2") format("woff2"),
    url("../public/fonts/Gambetta-Bold.woff") format("woff"),
    url("../public/fonts/Gambetta-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Gambetta";
  src: url("../public/fonts/Gambetta-BoldItalic.woff2") format("woff2"),
    url("../public/fonts/Gambetta-BoldItalic.woff") format("woff"),
    url("../public/fonts/Gambetta-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}
